* {
    background-color:white;
    color: black;
}
body{
margin-bottom: 2em;
}
nav {
overflow: hidden;
background-color: #ffffff;
margin: 0;
padding-bottom: 40px;
object-position: 50% 50;
float: center;
width: 100%;
align-items: center;
text-align: center;
}

nav.topnav {
    display: inline;
    border-right: 5px;
} 

#submit {
    margin-left: 45%;
    vertical-align: sub;
} 

#edit {
    margin: 0;
    padding-bottom: 40px;
    object-position: 50% 50;
    float: center;
    width: 100%;
    align-items: center;
    text-align: center;
} 

/*This is for tablets*/
@media only screen and (min-width: 768px) {

    nav{
        overflow: hidden;
        position: auto;
        background-color: #ffffff;
        padding-top: 15px;
        margin-bottom: 20px;
        object-position: 50% 0;
        padding: 0;
        align-items: center;
        align-content: center;
        text-align: center;
        }

    nav.topnav {
        display: inline;
    } 
    
    #submit {
        margin-left: 45%;
        vertical-align: sub;
    } 
    
    #edit {
        margin: 0;
        object-position: 50% 50;
        float: center;
        width: 100%;
        align-items: center;
        text-align: center;
    } 
}

/*This is for smartphones*/

@media only screen and (min-width: 320px) and (max-width: 480px){
    
    
    nav {
        overflow: hidden;
        position: auto;
        background-color: #ffffff;
        padding-top: 5px;
        margin-bottom: 20px;
        object-position: 50% 0;
        padding: 0;
        align-items: center;
        text-align: center;
    }
    
    nav.topnav {
        display: inline;
    } 

    #submit {
        margin-left: 45%;
        vertical-align: sub;
    } 
    
    #edit {
        margin: 0;
        object-position: 50% 50;
        float: center;
        width: 100%;
        align-items: center;
        text-align: center;
    } 
}