* {
    background-color:white;
    color: black;
}

nav {
overflow: hidden;
background-color: #ffffff;
padding-top: 15px;
float: center;
margin-left: 200px;
margin-right:200px;
width: 95%;
align-items: center;
}

/*This is for tablets*/
@media only screen and (min-width: 768px) {
 
    nav {
        width:100%;
        display:block;
    }

    nav.button-collapse {
        /* overflow: hidden; */
        position: auto;
        display: inline-block;
        background-color: #ffffff;
        padding-top: 15px;
        width: 100%;
        height: 5%;
        align-items: center;
        }
    
}

/*This is for smartphones*/

@media only screen and (min-width: 320px) and (max-width: 480px){
    
    nav {
        width:100%;
        display:block;
    }
    
    nav.button-collapse {
        overflow: hidden;
        position: auto;
        display: inline-block;
        background-color: #ffffff;
        padding-top: 5px;
        width: 100%;
        height: 5%;
        align-items: center;
        }
}