
button {
background:    #617ed7;
border:        4px solid #617ed7;
border-radius: 1000px;
padding:       2px 8px;
color:         #ffffff;
display:       inline-block;
font:          normal 4vw "Roboto", sans-serif;
text-align:    center;
text-shadow:   1vw 1pvw #000000;
margin-top: 5px;
margin-bottom: 5px;
}

button:hover {
    background: #0f1e4a;
    color: white;
}

#tags {
    font-size: 1rem;
    border: 1px solid black;
}

#tags:hover {
    background-color: rgb(216, 233, 233);
}

#browseProblems {
    display: inline;
    margin: auto;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 10px;
    font-size: 1.5rem;
    align-content: center;
}

#landing {
    display: block;
    width: 450px;
    height: 450px;
    object-position: 50% 50;
    align-content: center;
    text-align: center;
    font-size: 2rem;
    margin-left: 37%;
    padding-bottom: 40px; 
}

#animal {
    display: block;
    width: 450px;
    height: 450px;
    object-position: 50% 50;
    align-content: center;
    text-align: center;
    margin-left: 37%;
    padding-bottom: 40px; 
}


#tags {
    display: block;
}

#browseProblems {
    display: block;
}

#solveAProblem {
    display: block;
}

#ruff {
font-family: 'Reenie Beanie', cursive;
text-align: center;
font-size: 4rem;
}

/*This is for tablets*/
@media only screen and (max-width: 768px) {
    #animal {
        display: block;
        height: 30%;
        object-position: 50% 0;
        text-align: center;
        width: 40%;
        padding-bottom: 30px;
    }

    #landing {
        display: block;
        height: 70%;
        height: 100vh;
        text-align: center;
        font-size: 2rem;
        object-position: 50% 0;
        width: 100%;
        margin: 0;
        padding-bottom: 10px;
    }
}

/*This is for smartphones*/

@media only screen and (min-width: 120px) and (max-width: 450px){
    #animal {
        display: block;
        height: auto;
        text-align: center;
        object-position: 50% 0;
        width: 100%;
        margin: 0;
        padding-bottom: 10px;
    }

    #landing {
        display: block;
        height: 70%;
        height: 100vh;
        text-align: center;
        font-size: 2rem;
        object-position: 50% 0;
        width: 100%;
        margin: 0;
        padding-bottom: 10px;
    }
}