
button {
background:    #3e3dc6;
background:    -webkit-linear-gradient(#3e3dc6, #00ffff);
background:    linear-gradient(#3e3dc6, #00ffff);
border:        2px solid #556699;
border-radius: 1000px;
padding:       8px 20px;
color:         #ffffff;
display:       inline-block;
font:          normal 700 24px/1 "Roboto", sans-serif;
text-align:    center;
text-shadow:   2px 2px #000000;
}

button:hover {
    background: #556699;
    color: white;
}

button  {
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 65px;
    font-size: 35px;
}

img {
    height: auto;
    width: auto;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5%;
}

#tags {
    display: block;
}

#submit {
    display: block;
}

#browseProblems {
    display: block;
}

#solveAProblem {
    display: block;
}


/*This is for tablets*/
@media only screen and (min-width: 768px) {
    img {
        padding-top: 20px;
        padding-bottom: 10px;
        height: auto;
        width: auto;
    }
}

/*This is for smartphones*/

@media only screen and (min-width: 320px) and (max-width: 480px){
    img {
        padding-top: 2px;
        padding-bottom: 5px;
        height: auto;
        width: auto;
    }
}